<p>{{headerName | uppercase}}</p>
<!--pipe and interpolation and style binding-->
<p [style.color]="colorName">{{salary | percent}}</p> 
<!--event binding-->
<button (click)="FunctionTest('Button Clicked')">Click Me!</button>
<br>
<!--Attribute binding-->
<input [value]="isDisabled" [disabled]="isDisabled" #txt (change)="FunctionTest(txt.value)">
<br>
<br>
<!--Directives-->
<p [ngClass]="className">Attribute Directives: ngClass</p>
<p [ngStyle]="styleatt">Attribute Directive: ngStyle</p>
<!--Two way binding-->
<input [(ngModel)]="headerName"> <!-- Add FormsModule in module.ts-->

<h2 *ngIf="salary > 0">NgIf demo</h2>
<ul>
    <li *ngFor="let item of colors">{{item}}</li>
</ul>
